:root {
  --color-black: #000000;
  --color-dark: #171717;
  --color-white: white;
  --color-neon: #beff6b;
  --color-purple: #7c57fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
